* {
  box-sizing: border-box;
}
body {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}


label {
  display: inline-block;
}

input {
  width: 75%;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

header {
  text-align: center;
}

.user-inputs {
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row {
  width: 100%;
}

.col-25 {
  width: 25%;
  float: left;
  margin-top: 5px;
}

.col-50 {
  width: 50%;
  float: left;
  margin-top: 5px;
}

.col-75 {
  width: 75%;
  float: left;
  margin-top: 5px;
}

.col-100 {
  width: 100%;
}

.buy-rent {
  border: 2px solid green;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.owner {
  border: 2px solid blue;
  float: left;
}

.renter {
  float: right;
  border: 2px solid red;
}

.common-costs {
  margin: 0, auto;
  border: 2px solid yellow;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.the_button {
  width: 50%;
  border-radius: 5px;
  padding: 5px;
  background-color: grey;
  margin: 15px;
}

.outputs {
  text-align: center;
}

input[type=button] {
  width: 50%;
  border-radius: 5px;
}
